@charset "UTF-8";
@keyframes loader-light {
  0% {
    color: #9356DC;
    text-shadow: 0 0 0.1rem #9356DC;
  }
  30% {
    color: #FF79DA;
    text-shadow: 0 0 0.1rem #FF79DA;
  }
  60% {
    color: #99E2D0;
    text-shadow: 0 0 0.1rem #99E2D0;
  }
  90% {
    color: #FF79DA;
    text-shadow: 0 0 0.1rem #FF79DA;
  }
  100% {
    color: #9356DC;
    text-shadow: 0 0 0.1rem #9356DC;
  }
}
@keyframes loader-spinner {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loader-cercle {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
@keyframes card-appear {
  from {
    opacity: 0;
    margin-top: 0rem;
  }
  to {
    opacity: 1;
    margin-top: 5rem;
  }
}
@keyframes card-slide {
  from {
    width: 0;
  }
  to {
    width: 8rem;
  }
}
@keyframes card-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1800deg);
  }
}
@keyframes heart-full {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
/*animation en plus*/
@-webkit-keyframes new-turn-signal {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes new-turn-signal {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes dashed-turn {
  to {
    background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
  }
}
.header-container, .main-header form, .main-header__image, .page-arrow-image {
  width: 100%;
  height: 4rem;
}

.container, .container2, .container1 {
  width: 100%;
  height: 25rem;
  text-align: center;
}

.page-card, .page-card10, .page-card9, .page-card8, .page-card7, .page-card6, .page-card5, .page-card4, .page-card3, .page-card2, .page-card1 {
  border: 0.19rem white solid;
  border-radius: 1.25rem;
  background-color: white;
  height: 100px;
  width: 90%;
  margin-bottom: -4rem;
  margin-left: 14px;
  box-shadow: 0 0 1rem #0000002E;
  animation: card-appear 3s forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: both;
}
.page-card:hover, .page-card10:hover, .page-card9:hover, .page-card8:hover, .page-card7:hover, .page-card6:hover, .page-card5:hover, .page-card4:hover, .page-card3:hover, .page-card2:hover, .page-card1:hover {
  background-color: #f8fdfc;
  box-shadow: 2px 3px 10px #6b6b6b;
}

.footer-main, .footer-page, .footer-page2 {
  width: 100%;
  height: 14rem;
}

@media only screen and (min-width: 768px) {
  .main-header__image img, .page-arrow-image img {
    display: none;
  }

  .main-header .main-header__writting {
    display: initial;
    display: flex;
    justify-content: center;
    font-size: 7rem;
    background-color: #2b2b2b;
    text-align: center;
    margin-top: -71px;
    margin-bottom: 0;
  }

  .oh {
    color: #9356DC;
  }

  .my {
    color: #FF79DA;
  }

  .food {
    color: #99E2D0;
  }

  .main-header form {
    height: 5rem;
  }
  .main-header form .main-header__p {
    display: flex;
    flex-direction: row;
  }

  span.i-search {
    border: 1px solid #9356DC;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 25px;
    padding-right: 13px;
    padding-top: 12px;
    padding-bottom: 11px;
    background-color: #9356DC;
    font-size: 26px;
    color: #efe6fa;
  }

  form input {
    border: 4px solid #FF79DA;
    border-right: none;
    border-left: none;
    height: 54px;
    width: 11rem;
    margin-left: 0;
  }

  form input:focus {
    height: 54px;
    width: 11rem;
    background-color: #ffdff6;
  }

  span.i-seek {
    border: 1px solid #99E2D0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-left: 13px;
    padding-right: 25px;
    padding-top: 13px;
    padding-bottom: 12px;
    cursor: pointer;
    background-color: #99E2D0;
    font-size: 25px;
    color: #32b091;
  }

  div.btn-seek span.i-seek i.fas {
    display: initial;
  }

  .container1 {
    background-image: url(../../sass/images/restaurants/luxe.jpg);
  }
  .container1 .container1__title, .container1 .container1__p1 {
    text-shadow: 2px 2px white;
  }

  .container2 {
    height: 25rem;
  }
  .container2 .container2__title {
    text-align: start;
  }

  main .container-articles {
    height: 55rem;
  }
  main .container-articles .divcontainer-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  main .container-articles .divcontainer-articles .cardcommun {
    width: 40%;
  }

  article.cardcommun:hover {
    -webkit-transition: all 250ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 250ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 250ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 250ms ease-in;
    transform: scale(1.1);
  }

  .page-header {
    display: flex;
    flex-direction: column;
  }
  .page-header .page-arrow-image {
    margin-top: -102px;
  }
  .page-header .page-header__writting {
    display: initial;
    font-size: 7rem;
    color: white;
    background-color: #2b2b2b;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .page-header__background-image img {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
  }
  .page-header__background-image img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
  }

  body.body-commun main.page__container, body.body-commun main.page__container2 {
    height: 128rem;
  }
  body.body-commun main.page__container .body-commun .page-btn, body.body-commun main.page__container2 .body-commun .page-btn {
    position: relative;
    top: 10px;
  }

  .body-lanoteenchantee main.page__container2 {
    height: 138rem;
  }

  .footer-title {
    padding-left: 0rem;
    padding-right: 5rem;
  }

  ul.footer-list li {
    margin-top: 0rem;
  }

  .footer-list li .far {
    display: initial;
  }

  article.page-card, article.page-card10, article.page-card9, article.page-card8, article.page-card7, article.page-card6, article.page-card5, article.page-card4, article.page-card3, article.page-card2, article.page-card1 {
    height: 151px;
    margin-bottom: 4rem;
  }
  article.page-card .page-card__image, article.page-card10 .page-card__image, article.page-card9 .page-card__image, article.page-card8 .page-card__image, article.page-card7 .page-card__image, article.page-card6 .page-card__image, article.page-card5 .page-card__image, article.page-card4 .page-card__image, article.page-card3 .page-card__image, article.page-card2 .page-card__image, article.page-card1 .page-card__image {
    margin: 0;
  }
  article.page-card .page-card__image img, article.page-card10 .page-card__image img, article.page-card9 .page-card__image img, article.page-card8 .page-card__image img, article.page-card7 .page-card__image img, article.page-card6 .page-card__image img, article.page-card5 .page-card__image img, article.page-card4 .page-card__image img, article.page-card3 .page-card__image img, article.page-card2 .page-card__image img, article.page-card1 .page-card__image img {
    position: absolute;
    display: initial;
    height: 150px;
    width: 15rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    object-fit: cover;
  }
  article.page-card .page-carte__title, article.page-card10 .page-carte__title, article.page-card9 .page-carte__title, article.page-card8 .page-carte__title, article.page-card7 .page-carte__title, article.page-card6 .page-carte__title, article.page-card5 .page-carte__title, article.page-card4 .page-carte__title, article.page-card3 .page-carte__title, article.page-card2 .page-carte__title, article.page-card1 .page-carte__title {
    padding-left: 245px;
    padding-top: 32px;
  }
  article.page-card .page-carte__p, article.page-card10 .page-carte__p, article.page-card9 .page-carte__p, article.page-card8 .page-carte__p, article.page-card7 .page-carte__p, article.page-card6 .page-carte__p, article.page-card5 .page-carte__p, article.page-card4 .page-carte__p, article.page-card3 .page-carte__p, article.page-card2 .page-carte__p, article.page-card1 .page-carte__p {
    padding-left: 245px;
  }
  article.page-card .page-price, article.page-card10 .page-price, article.page-card9 .page-price, article.page-card8 .page-price, article.page-card7 .page-price, article.page-card6 .page-price, article.page-card5 .page-price, article.page-card4 .page-price, article.page-card3 .page-price, article.page-card2 .page-price, article.page-card1 .page-price {
    position: relative;
    top: 80px;
    padding-right: 25px;
  }
  article.page-card mark.check-circle, article.page-card10 mark.check-circle, article.page-card9 mark.check-circle, article.page-card8 mark.check-circle, article.page-card7 mark.check-circle, article.page-card6 mark.check-circle, article.page-card5 mark.check-circle, article.page-card4 mark.check-circle, article.page-card3 mark.check-circle, article.page-card2 mark.check-circle, article.page-card1 mark.check-circle {
    height: 157px;
    position: relative;
    top: 16px;
  }
  @keyframes card-slide {
    from {
      width: 0;
    }
    to {
      width: 230px;
    }
  }

  .footer-main, .footer-page, .footer-page2 {
    height: 8rem;
    text-align: center;
  }

  .footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 980px) {
  .container2 {
    height: 15rem;
  }
  .container2 h2.container2__title {
    padding-right: 0rem;
    padding-left: 2rem;
    text-align: center;
  }

  .divcontainer2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .container2__menu-commun1 {
    font-size: 16px;
    width: 20rem;
  }

  .container-articles__title {
    text-align: center;
    padding-right: 2rem;
  }

  .divcontainer-articles .cardcommun {
    width: 35%;
  }
}
article.page-card, article.page-card10, article.page-card9, article.page-card8, article.page-card7, article.page-card6, article.page-card5, article.page-card4, article.page-card3, article.page-card2, article.page-card1 {
  margin-bottom: -4rem;
}

footer .footer-page2 {
  margin-top: -6rem;
}

@media only screen and (min-width: 1100px) {
  div.btn-seek span.i-seek {
    display: none;
  }

  div.btn-search span.i-search {
    display: none;
  }

  div.btn-search span.search {
    display: initial;
    border: 2px solid #9356DC;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 13px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 11px;
    background-color: #9356DC;
    font-size: 20px;
    color: #efe6fa;
  }

  form input {
    height: 50px;
  }

  form input:focus {
    height: 50px;
  }

  div.btn-seek span.seek {
    display: initial;
    border: 2px solid #99E2D0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-left: 13px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 11px;
    cursor: pointer;
    background-color: #99E2D0;
    font-size: 20px;
    color: #2c9c81;
  }

  figure.page-header__background-image img {
    height: 30rem;
  }

  body.body-commun main.page__container, body.body-commun main.page__container2 {
    height: 94rem;
  }

  body.body-lanoteenchantee main.page__container2 {
    height: 113rem;
  }

  footer.footer-page, footer.footer-page2 {
    margin-top: -6rem;
  }

  body.body-lanoteenchantee footer.footer-page2 {
    margin-top: -6rem;
  }

  .page-container-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .page-container-articles .page-card, .page-container-articles .page-card10, .page-container-articles .page-card9, .page-container-articles .page-card8, .page-container-articles .page-card7, .page-container-articles .page-card6, .page-container-articles .page-card5, .page-container-articles .page-card4, .page-container-articles .page-card3, .page-container-articles .page-card2, .page-container-articles .page-card1 {
    height: 18rem;
    width: 30%;
  }
  .page-container-articles .page-card a .page-card__image img, .page-container-articles .page-card10 a .page-card__image img, .page-container-articles .page-card9 a .page-card__image img, .page-container-articles .page-card8 a .page-card__image img, .page-container-articles .page-card7 a .page-card__image img, .page-container-articles .page-card6 a .page-card__image img, .page-container-articles .page-card5 a .page-card__image img, .page-container-articles .page-card4 a .page-card__image img, .page-container-articles .page-card3 a .page-card__image img, .page-container-articles .page-card2 a .page-card__image img, .page-container-articles .page-card1 a .page-card__image img {
    position: initial;
    width: 100%;
    height: 170px;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: initial;
  }
  .page-container-articles .page-card .page-carte__title, .page-container-articles .page-card10 .page-carte__title, .page-container-articles .page-card9 .page-carte__title, .page-container-articles .page-card8 .page-carte__title, .page-container-articles .page-card7 .page-carte__title, .page-container-articles .page-card6 .page-carte__title, .page-container-articles .page-card5 .page-carte__title, .page-container-articles .page-card4 .page-carte__title, .page-container-articles .page-card3 .page-carte__title, .page-container-articles .page-card2 .page-carte__title, .page-container-articles .page-card1 .page-carte__title {
    margin-left: -235px;
    font-size: 19px;
    bottom: 0px;
  }
  .page-container-articles .page-card .page-carte__p, .page-container-articles .page-card10 .page-carte__p, .page-container-articles .page-card9 .page-carte__p, .page-container-articles .page-card8 .page-carte__p, .page-container-articles .page-card7 .page-carte__p, .page-container-articles .page-card6 .page-carte__p, .page-container-articles .page-card5 .page-carte__p, .page-container-articles .page-card4 .page-carte__p, .page-container-articles .page-card3 .page-carte__p, .page-container-articles .page-card2 .page-carte__p, .page-container-articles .page-card1 .page-carte__p {
    margin-left: -235px;
    font-size: 16px;
    bottom: 10px;
  }
  .page-container-articles .page-card .page-price, .page-container-articles .page-card10 .page-price, .page-container-articles .page-card9 .page-price, .page-container-articles .page-card8 .page-price, .page-container-articles .page-card7 .page-price, .page-container-articles .page-card6 .page-price, .page-container-articles .page-card5 .page-price, .page-container-articles .page-card4 .page-price, .page-container-articles .page-card3 .page-price, .page-container-articles .page-card2 .page-price, .page-container-articles .page-card1 .page-price {
    float: left;
    font-size: 18px;
    bottom: 0px;
    left: 0px;
    top: 70px;
  }

  div.intra2 mark.check-circle {
    height: 120px;
    border-top-right-radius: initial;
  }

  @keyframes card-slide {
    from {
      width: 0;
    }
    to {
      width: 170px;
    }
  }
  div.page__bloc2, div.page__bloc3 {
    margin-top: -3rem;
  }
}
.btn-colorer, .page-btn .page-btn__a, .btn__p2 {
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 22px;
}

.container2__menu-commun1 {
  border: 1px solid #eaeaea;
  border-radius: 23px;
  padding-bottom: 30px;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 19px;
}

.page-header a, .btn-bulle-commun1 {
  border: 1px solid #9356DC;
  width: 30px;
  height: 25px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 5px;
}

h1, h3, img, .oh, .my, .food, .container1__title, .container2__title, .container-articles__title {
  font-family: shrikhand;
}

* {
  font-family: roboto, sans-serif;
}

.main-header__p input, .btn__p2, .btn__menu-commun1 {
  font-weight: bold;
}

.cardcommun__p, .page-carte__p {
  font-weight: 300;
}

.page-loader {
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #eaeaea;
  animation: loader-spinner 3s;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.letter {
  color: black;
  font-size: 50px;
  font-family: "Shrikhand", "Sans serif";
  animation: loader-light 2s linear infinite;
}

.letter:nth-child(1) {
  animation-delay: 0.1s;
}

.letter:nth-child(2) {
  animation-delay: 0.2s;
}

.letter:nth-child(3) {
  animation-delay: 0.3s;
}

.letter:nth-child(4) {
  animation-delay: 0.4s;
}

.letter:nth-child(5) {
  animation-delay: 0.5s;
}

.letter:nth-child(6) {
  animation-delay: 0.6s;
}

.letter:nth-child(7) {
  animation-delay: 0.7s;
}

.letter:nth-child(8) {
  animation-delay: 0.8s;
}

.loader-cercle {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader-cercle:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 16px solid black;
  border-color: #FF79DA #9356DC #99E2D0 #9356DC;
  animation: loader-cercle 1.2s infinite;
}

body {
  min-width: 375px;
}

main, .page__container, main.page__container2 {
  max-width: 1345px;
  margin: auto;
}

header, footer {
  max-width: 2500px;
  margin: auto;
}

.main-header {
  display: flex;
  flex-direction: column;
}

.main-header__writting {
  display: none;
}

.main-header__image, .page-arrow-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}

input {
  background-color: #eaeaea;
  border-style: none;
  height: 3rem;
  width: 10rem;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
}

input:focus {
  outline: none;
  width: 10rem;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border: 1px dashed #FF79DA;
  border-color: #FF79DA;
  background: linear-gradient(90deg, #FF79DA 50%, transparent 50%), linear-gradient(90deg, #FF79DA 50%, transparent 50%), linear-gradient(0deg, #9356DC 50%, transparent 50%), linear-gradient(0deg, #99E2D0 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
  background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
  border-radius: 5px;
  padding: 10px;
  animation: dashed-turn 5s linear infinite;
}

.search, .seek {
  display: none;
}

span.i-seek i.fas {
  display: none;
}

.container1 {
  background-color: #f4f4f4;
  margin-top: -25px;
}

.container1__title {
  font-size: 30px;
  padding-top: 3rem;
}

.container1__p1 {
  font-size: 25px;
}

.container1__p2 {
  font-size: 20px;
  margin-top: 5rem;
}

.btn-colorer, .page-btn .page-btn__a, .btn__p2 {
  text-decoration: none;
  color: white;
  border: 1px solid #9356DC;
  border-left-color: #FF79DA;
  border-top-color: #FF79DA;
  border-radius: 50px;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
}

.container1__p2:hover {
  -webkit-transition: all 250ms ease-in;
  -webkit-transform: scale(0.9);
  -ms-transition: all 250ms ease-in;
  -ms-transform: scale(0.9);
  -moz-transition: all 250ms ease-in;
  -moz-transform: scale(0.9);
  transition: all 250ms ease-in;
  transform: scale(0.9);
}

aside p.container1__p2 a.btn__p2:hover {
  box-shadow: 0 0 1rem #1b6150;
}

.container2 .container2__title {
  font-size: 30px;
  padding-right: 22rem;
}

.container2__menu-commun1 {
  background-color: #f2f2f2;
  padding-left: 1rem;
}
.container2__menu-commun1:hover {
  cursor: pointer;
  background-color: #e4d5f6;
}
.container2__menu-commun1 .btn__menu-commun1 {
  text-decoration: none;
  color: black;
}

.container2__menu-commun1 i {
  position: relative;
  right: 10px;
  color: #848484;
}

.container2__menu-commun1:hover i {
  color: #9356DC;
}

/*animation du nav*/
.btn-bulle-commun1 {
  position: relative;
  right: 30px;
  top: 28px;
  font-size: 16px;
  background-color: #9356DC;
  color: white;
}

.container-articles {
  height: 93.5rem;
  width: 100%;
  background-color: #f7f7f7;
}
.container-articles .container-articles__title {
  padding-top: 3rem;
  font-size: 30px;
}

.cardcommun {
  width: 90%;
  height: 19rem;
  border: 1px solid #eaeaea;
  border-radius: 1rem;
  background-color: white;
  margin: auto;
  margin-bottom: 2rem;
}
.cardcommun:hover {
  background-color: #f8fdfc;
  box-shadow: 2px 3px 10px #6b6b6b;
  -webkit-transition: all 250ms ease-in;
  -webkit-transform: scale(0.9);
  -ms-transition: all 250ms ease-in;
  -ms-transform: scale(0.9);
  -moz-transition: all 250ms ease-in;
  -moz-transform: scale(0.9);
  transition: all 250ms ease-in;
  transform: scale(0.9);
}
.cardcommun a {
  text-decoration-line: none;
  color: black;
}
.cardcommun .back-image {
  margin: 0;
}
.cardcommun .back-image img {
  height: 13rem;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  object-fit: cover;
}
.cardcommun .cardcommun__title {
  padding-left: 1rem;
  font-size: 20px;
  margin-bottom: -1rem;
}
.cardcommun .cardcommun__p {
  padding-left: 1rem;
  font-size: 20px;
  padding-bottom: 3rem;
}
.cardcommun .cardcommun__new {
  border: 1px solid #9ddece;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  background-color: #9ddece;
  color: #2c836e;
  float: right;
  position: relative;
  bottom: 11rem;
  right: 1rem;
  font-weight: bolder;
  -webkit-animation: new-turn-signal 0.6s both;
  animation: new-turn-signal 0.6s both;
  animation-duration: 3s;
  animation-iteration-count: 2;
}

.heart {
  position: absolute;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding-top: 4px;
  margin-left: 16px;
}
.heart .fa-heart {
  position: absolute;
  font-size: 30px;
  color: black;
}
.heart .fa-gradient {
  width: 55px;
  height: 75px;
}
.heart .fa-gradient:hover {
  cursor: pointer;
  font-weight: bold;
  -moz-animation: heart-full 0.5s;
  -webkit-animation: heart-full 0.5s;
  animation: heart-full 0.5s;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cardcommun__flex1 {
  display: flex;
  flex-direction: column;
}

.cardcommun__flex2 {
  display: flex;
  flex-direction: column;
}

.cardcommun__flex3 {
  display: flex;
  flex-direction: row-reverse;
  margin-top: -8rem;
}

.footer-main, .footer-page, .footer-page2 {
  background-color: #2b2b2b;
}
.footer-main .footer-title, .footer-page .footer-title, .footer-page2 .footer-title {
  color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  font-size: 25px;
  margin-top: 0;
}

.footer-list {
  list-style-type: none;
  font-size: 16px;
}
.footer-list li {
  margin-top: 1rem;
}
.footer-list i {
  color: white;
  margin-right: 1rem;
}
.footer-list a {
  text-decoration: none;
  color: white;
  text-decoration: none;
  background: linear-gradient(to top, #FF79DA 0%, #FF79DA 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.footer-list a:hover {
  background-size: 100% 100%;
}
.footer-list .far {
  display: none;
}

.page-header a {
  position: relative;
  top: 3rem;
  left: 1rem;
  font-size: 20px;
  color: black;
  text-decoration: none;
  border-color: white;
  background-color: white;
}
.page-header a:hover {
  color: white;
  background-color: black;
  -webkit-transition: all 250ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 250ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 250ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 250ms ease-in;
  transform: scale(1.5);
}

.page-header__writting {
  display: none;
}

.page-header__background-image {
  width: 100%;
  height: 25rem;
  margin: 0;
}
.page-header__background-image img {
  height: 25rem;
  width: 100%;
  object-fit: cover;
}

main.page__container, main.page__container2 {
  background-color: #eaeaea;
  width: 100%;
  height: 100rem;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  position: relative;
  bottom: 6rem;
}
main.page__container .page__container__flex, main.page__container2 .page__container__flex {
  display: flex;
  flex-direction: row-reverse;
}
main.page__container .page__container__title, main.page__container2 .page__container__title {
  font-size: 28px;
  position: relative;
  top: 35px;
  right: 25px;
  text-align: center;
}
main.page__container .page-card__title, main.page__container2 .page-card__title {
  margin-top: 7rem;
  padding-left: 25px;
  bottom: -4rem;
  text-decoration: none;
  position: relative;
  top: 60px;
}
main.page__container .page-card__title:after, main.page__container2 .page-card__title:after {
  position: absolute;
  content: " ";
  height: 4px;
  bottom: -4px;
  left: 26px;
  right: 19rem;
  width: 59px;
  background: #99E2D0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
}
main.page__container .fa-stack, main.page__container2 .fa-stack {
  margin-top: -25px;
}
main.page__container .page-carte__title, main.page__container2 .page-carte__title {
  font-size: 21px;
}

.page__bloc1 {
  margin-top: -6rem;
}
.page__bloc1 .page-card__title:hover:after {
  width: 102px;
  left: 24px;
  right: 18rem;
  background: linear-gradient(to right, #99E2D0, #99E2D0, #FF79DA);
}

.page__bloc2 {
  margin-top: -8rem;
}
.page__bloc2 .page-card__title:hover:after {
  width: 72px;
  left: 24px;
  right: 18rem;
  background: linear-gradient(to right, #99E2D0, #99E2D0, #FF79DA);
}

.page__bloc3 {
  margin-top: -8rem;
}
.page__bloc3 .page-card__title:hover:after {
  width: 115px;
  left: 24px;
  right: 18rem;
  background: linear-gradient(to right, #99E2D0, #99E2D0, #FF79DA);
}

main.page__container2 {
  height: 107rem;
}

.page-card a, .page-card10 a, .page-card9 a, .page-card8 a, .page-card7 a, .page-card6 a, .page-card5 a, .page-card4 a, .page-card3 a, .page-card2 a, .page-card1 a {
  text-decoration: none;
  color: black;
}
.page-card img, .page-card10 img, .page-card9 img, .page-card8 img, .page-card7 img, .page-card6 img, .page-card5 img, .page-card4 img, .page-card3 img, .page-card2 img, .page-card1 img {
  display: none;
}
.page-card .container-intra1et2, .page-card10 .container-intra1et2, .page-card9 .container-intra1et2, .page-card8 .container-intra1et2, .page-card7 .container-intra1et2, .page-card6 .container-intra1et2, .page-card5 .container-intra1et2, .page-card4 .container-intra1et2, .page-card3 .container-intra1et2, .page-card2 .container-intra1et2, .page-card1 .container-intra1et2 {
  display: flex;
  justify-content: space-between;
}
.page-card .container-intra1et2 .intra, .page-card10 .container-intra1et2 .intra, .page-card9 .container-intra1et2 .intra, .page-card8 .container-intra1et2 .intra, .page-card7 .container-intra1et2 .intra, .page-card6 .container-intra1et2 .intra, .page-card5 .container-intra1et2 .intra, .page-card4 .container-intra1et2 .intra, .page-card3 .container-intra1et2 .intra, .page-card2 .container-intra1et2 .intra, .page-card1 .container-intra1et2 .intra {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.page-card .container-intra1et2 .intra2, .page-card10 .container-intra1et2 .intra2, .page-card9 .container-intra1et2 .intra2, .page-card8 .container-intra1et2 .intra2, .page-card7 .container-intra1et2 .intra2, .page-card6 .container-intra1et2 .intra2, .page-card5 .container-intra1et2 .intra2, .page-card4 .container-intra1et2 .intra2, .page-card3 .container-intra1et2 .intra2, .page-card2 .container-intra1et2 .intra2, .page-card1 .container-intra1et2 .intra2 {
  display: flex;
  justify-content: space-between;
}
.page-card .page-carte__title, .page-card10 .page-carte__title, .page-card9 .page-carte__title, .page-card8 .page-carte__title, .page-card7 .page-carte__title, .page-card6 .page-carte__title, .page-card5 .page-carte__title, .page-card4 .page-carte__title, .page-card3 .page-carte__title, .page-card2 .page-carte__title, .page-card1 .page-carte__title {
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
}
.page-card .page-carte__p, .page-card10 .page-carte__p, .page-card9 .page-carte__p, .page-card8 .page-carte__p, .page-card7 .page-carte__p, .page-card6 .page-carte__p, .page-card5 .page-carte__p, .page-card4 .page-carte__p, .page-card3 .page-carte__p, .page-card2 .page-carte__p, .page-card1 .page-carte__p {
  font-size: 17px;
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-card .page-price, .page-card10 .page-price, .page-card9 .page-price, .page-card8 .page-price, .page-card7 .page-price, .page-card6 .page-price, .page-card5 .page-price, .page-card4 .page-price, .page-card3 .page-price, .page-card2 .page-price, .page-card1 .page-price {
  font-size: 18px;
  position: relative;
  top: 3rem;
  padding-right: 13px;
}

.page-card1 {
  animation-delay: 0.2s;
}

.page-card2 {
  animation-delay: 0.6s;
}

.page-card3 {
  animation-delay: 1.2s;
}

.page-card4 {
  animation-delay: 1.6s;
}

.page-card5 {
  animation-delay: 2.2s;
}

.page-card6 {
  animation-delay: 2.6s;
}

.page-card7 {
  animation-delay: 3.2s;
}

.page-card8 {
  animation-delay: 3.6s;
}

.page-card9 {
  animation-delay: 4.2s;
}

.page-card10 {
  animation-delay: 4.6s;
}

mark.check-circle {
  display: flex;
  background-color: #99E2D0;
  width: 0;
  height: 106px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 0 1.25rem 1.25rem 0;
  color: black;
  float: right;
  margin-top: -19px;
  margin-right: -3px;
}

mark.check-circle i {
  border-radius: 50%;
  padding: 0.5rem;
  color: white;
  font-size: 35px;
}

article.page-card:hover mark.check-circle, article.page-card1:hover mark.check-circle, article.page-card2:hover mark.check-circle, article.page-card3:hover mark.check-circle, article.page-card4:hover mark.check-circle, article.page-card5:hover mark.check-circle, article.page-card6:hover mark.check-circle, article.page-card7:hover mark.check-circle, article.page-card8:hover mark.check-circle, article.page-card9:hover mark.check-circle, article.page-card10:hover mark.check-circle {
  animation: card-slide 0.5s ease-in forwards;
}

article.page-card:hover mark.check-circle i, article.page-card1:hover mark.check-circle i, article.page-card2:hover mark.check-circle i, article.page-card3:hover mark.check-circle i, article.page-card4:hover mark.check-circle i, article.page-card5:hover mark.check-circle i, article.page-card6:hover mark.check-circle i, article.page-card7:hover mark.check-circle i, article.page-card8:hover mark.check-circle i, article.page-card9:hover mark.check-circle i, article.page-card10:hover mark.check-circle i {
  animation: card-rotate 0.5s both;
}

.fa-check:before {
  content: "";
}

.page-btn {
  text-align: center;
  position: relative;
  top: 45px;
  top: 115px;
}
.page-btn:hover {
  -webkit-transition: all 250ms ease-in;
  -webkit-transform: scale(0.9);
  -ms-transition: all 250ms ease-in;
  -ms-transform: scale(0.9);
  -moz-transition: all 250ms ease-in;
  -moz-transform: scale(0.9);
  transition: all 250ms ease-in;
  transform: scale(0.9);
}
.page-btn .page-btn__a {
  font-weight: bolder;
  padding-left: 60px;
  padding-right: 60px;
}
.page-btn .page-btn__a:hover {
  box-shadow: 0 0 1rem #1b6150;
}

.footer-page, .footer-page2 {
  margin-top: -6rem;
}

/*# sourceMappingURL=style.css.map */
