.btn-colorer, .page-btn .page-btn__a, .btn__p2 {
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 22px;
}

.container2__menu-commun1 {
  border: 1px solid #eaeaea;
  border-radius: 23px;
  padding-bottom: 20px;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 18px;
}

.page-header a, .btn-bulle-commun1 {
  border: 1px solid #9356DC;
  width: 30px;
  height: 25px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 5px;
}

.btn-new, .cardcommun .cardcommun__new1 {
  border: 1px solid #9ddece;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  background-color: #9ddece;
  color: #2c836e;
}

.header-container, .main-header form, .main-header__image, .page-arrow-image {
  width: 100%;
  height: 4rem;
}

.container, .container2, .container1 {
  width: 100%;
  height: 25rem;
  text-align: center;
}

.container-articles {
  height: 110rem;
  width: 100%;
}

.page-container, .page__container, .page__container2 {
  background-color: #eaeaea;
  width: 100%;
  height: 130rem;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.footer-main, .footer-page, .footer-page2 {
  width: 100%;
  height: 14rem;
}

@media only screen and (min-width: 768px) {
  .main-header__image img, .page-arrow-image img {
    display: none;
  }

  .main-header .main-header__writting {
    display: initial;
    display: flex;
    justify-content: center;
    font-size: 7rem;
    background-color: #2b2b2b;
    text-align: center;
    margin-top: -71px;
    margin-bottom: 0;
  }

  .oh {
    color: #9356DC;
  }

  .my {
    color: #FF79DA;
  }

  .food {
    color: #99E2D0;
  }

  .container1 {
    background-image: url(/sass/images/restaurants/luxe.jpg);
  }
  .container1 .container1__title, .container1 .container1__p1 {
    text-shadow: 2px 2px white;
  }

  .container2 {
    height: 25rem;
  }
  .container2 .container2__title {
    text-align: start;
  }

  .container-articles {
    height: 60rem;
  }

  .divcontainer-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 9rem;
    margin-left: 3rem;
  }
  .divcontainer-articles .cardcommun {
    width: 45%;
  }

  .page-header {
    display: flex;
    flex-direction: column;
  }
  .page-header .page-arrow-image {
    margin-top: -102px;
  }
  .page-header .page-header__writting {
    display: initial;
    font-size: 7rem;
    color: white;
    background-color: #2b2b2b;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .page-header__background-image img {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
  }
  .page-header__background-image img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
  }

  .page-container, .page__container, .page__container2 {
    height: 160rem;
  }
  .page-container .page-btn, .page__container .page-btn, .page__container2 .page-btn {
    top: 65px;
  }

  .footer-title {
    padding-left: 0rem;
    padding-right: 5rem;
  }

  ul.footer-list li {
    margin-top: 0rem;
  }

  .footer-list li .far {
    display: initial;
  }

  article.page-card {
    height: 151px;
    margin-bottom: 4rem;
  }
  article.page-card .page-card__image {
    margin: 0;
  }
  article.page-card .page-card__image img {
    display: initial;
    height: 150px;
    width: 15rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    object-fit: cover;
  }
  article.page-card .page-carte__title {
    margin-left: 175px;
    position: relative;
    bottom: 140px;
    left: 75px;
  }
  article.page-card .page-carte__p {
    margin-left: 175px;
    bottom: 125px;
    left: 75px;
  }
  article.page-card .page-price {
    right: 10px;
    bottom: 170px;
  }

  main.page__container2 {
    height: 175rem;
  }

  .footer-main, .footer-page, .footer-page2 {
    height: 8rem;
    text-align: center;
  }

  .footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 980px) {
  .container2 {
    height: 15rem;
  }
  .container2 h2.container2__title {
    padding-right: 0rem;
    padding-left: 2rem;
    text-align: center;
  }

  .divcontainer2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .container2__menu-commun1 {
    font-size: 16px;
    width: 20rem;
  }

  .container-articles__title {
    text-align: center;
    padding-right: 5rem;
  }

  .divcontainer-articles {
    justify-content: space-around;
  }
  .divcontainer-articles .cardcommun {
    width: 34%;
  }
}
@media only screen and (min-width: 1100px) {
  main.page__container2 {
    height: 130rem;
  }

  .page__container, .page__container2 {
    height: 105rem;
  }

  .page-container-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .page-container-articles .page-card {
    height: 18rem;
    width: 30%;
  }
  .page-container-articles .page-card a .page-card__image img {
    width: 100%;
    height: 170px;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: initial;
  }
  .page-container-articles .page-card .page-carte__title {
    margin-left: -60px;
    font-size: 19px;
    bottom: 0px;
  }
  .page-container-articles .page-card .page-carte__p {
    margin-left: -60px;
    font-size: 16px;
    bottom: 10px;
  }
  .page-container-articles .page-card .page-price {
    float: left;
    font-size: 18px;
    bottom: 0px;
    left: 17px;
  }
}
h1, h3, img, .oh, .my, .food, .container1__title, .container2__title, .container-articles__title {
  font-family: shrikhand;
}

* {
  font-family: roboto, sans-serif;
}

.main-header__p input, .btn__p2, .btn__menu-commun1 {
  font-weight: bolder;
}

body {
  min-width: 400px;
}

.main-header {
  display: flex;
  flex-direction: column;
}

.main-header__writting {
  display: none;
}

.main-header__image, .page-arrow-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}

.main-header__p input {
  background-color: #eaeaea;
  border-style: none;
  padding-left: 15px;
  height: 3rem;
  width: 11rem;
  font-size: 20px;
}

.main-header__p input:focus {
  outline: none;
  border: 1px dashed #FF79DA;
  border-right-color: #9356DC;
  border-left-color: #FF79DA;
  border-bottom-color: #9356DC;
  border-radius: 25px;
}

.container1 {
  background-color: #f4f4f4;
  margin-top: -40px;
}

.container1__title {
  font-size: 30px;
  padding-top: 3rem;
}

.container1__p1 {
  font-size: 25px;
}

.container1__p2 {
  font-size: 20px;
  margin-top: 5rem;
}

.btn-colorer, .page-btn .page-btn__a, .btn__p2 {
  text-decoration: none;
  color: white;
  border: 1px solid #9356DC;
  border-left-color: #FF79DA;
  border-top-color: #FF79DA;
  border-radius: 50px;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
}

.container2 .container2__title {
  font-size: 30px;
  padding-right: 22rem;
}

.container2__menu-commun1 {
  background-color: #f2f2f2;
  padding-left: 1rem;
}
.container2__menu-commun1:hover {
  cursor: pointer;
  background-color: #e4d5f6;
}
.container2__menu-commun1 .btn__menu-commun1 {
  text-decoration: none;
  color: black;
}

.container2__menu-commun1 i {
  position: relative;
  right: 10px;
  color: #848484;
}

.container2__menu-commun1:hover i {
  color: #9356DC;
}

/*animation du nav*/
.btn-bulle-commun1 {
  position: relative;
  right: 30px;
  top: 28px;
  font-size: 16px;
  background-color: #9356DC;
  color: white;
}

.container-articles {
  background-color: #f7f7f7;
  padding-left: 2rem;
}
.container-articles .container-articles__title {
  padding-top: 3rem;
  font-size: 30px;
}

.cardcommun {
  width: 90%;
  height: 21rem;
  border: 1px solid #eaeaea;
  border-radius: 1rem;
  background-color: white;
  margin-top: 2rem;
}
.cardcommun:hover {
  background-color: #f8fdfc;
  box-shadow: 2px 3px 10px #6b6b6b;
}
.cardcommun a {
  text-decoration-line: none;
  color: black;
}
.cardcommun .back-image {
  margin: 0;
}
.cardcommun .back-image img {
  height: 13rem;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  object-fit: cover;
}
.cardcommun .cardcommun__title {
  padding-left: 1rem;
  font-size: 20px;
}
.cardcommun .cardcommun__p {
  padding-left: 1rem;
  font-size: 20px;
}
.cardcommun .cardcommun__new1 {
  float: right;
  position: relative;
  bottom: 18rem;
  right: 1rem;
  font-weight: bolder;
}
.cardcommun .far {
  float: right;
  font-size: 30px;
  position: relative;
  bottom: 70px;
  right: 30px;
}

.footer-main, .footer-page, .footer-page2 {
  background-color: #2b2b2b;
}
.footer-main .footer-title, .footer-page .footer-title, .footer-page2 .footer-title {
  color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  font-size: 25px;
  margin-top: 0;
}

.footer-list {
  list-style-type: none;
  font-size: 16px;
}
.footer-list li {
  margin-top: 1rem;
}
.footer-list i {
  color: white;
  margin-right: 1rem;
}
.footer-list a {
  text-decoration: none;
  color: white;
}
.footer-list .far {
  display: none;
}

.page-header a {
  position: relative;
  top: 3rem;
  left: 1rem;
  font-size: 20px;
  color: black;
  text-decoration: none;
  border-color: white;
  background-color: white;
}

.page-header__writting {
  display: none;
}

.page-header__background-image {
  width: 100%;
  height: 25rem;
  margin: 0;
}
.page-header__background-image img {
  height: 25rem;
  width: 100%;
  object-fit: cover;
}

.page__container, .page__container2 {
  position: relative;
  bottom: 6rem;
}
.page__container .page__container__title, .page__container2 .page__container__title {
  font-size: 30px;
  position: relative;
  top: 45px;
  left: 15px;
  text-align: center;
}
.page__container .page-card__title, .page__container2 .page-card__title {
  padding-top: 3rem;
  padding-left: 1rem;
}
.page__container .far, .page__container2 .far {
  float: right;
  font-size: 40px;
  position: relative;
  bottom: 20px;
  right: 30px;
}

.page-card {
  border: 0.19rem white solid;
  border-radius: 1.25rem;
  background-color: white;
  height: 100px;
  width: 90%;
  margin-bottom: 4rem;
  margin-left: 1rem;
  box-shadow: 0 0 1rem #0000002E;
}
.page-card:hover {
  background-color: #f8fdfc;
  box-shadow: 2px 3px 10px #6b6b6b;
}
.page-card a {
  text-decoration: none;
  color: black;
}
.page-card img {
  display: none;
}
.page-card .page-carte__title {
  margin-left: 16px;
}
.page-card .page-carte__p {
  font-size: 18px;
  margin-left: 16px;
  position: relative;
  bottom: 10px;
}
.page-card .page-price {
  font-size: 20px;
  float: right;
  position: relative;
  right: 30px;
  bottom: 55px;
}

.page-btn {
  text-align: center;
  position: relative;
  top: 45px;
}
.page-btn .page-btn__a {
  font-weight: bolder;
  padding-left: 60px;
  padding-right: 60px;
}

.footer-page, .footer-page2 {
  margin-top: -6rem;
}

.page__container2 {
  height: 140rem;
}

/*# sourceMappingURL=style.css.map */
