@keyframes display-appear{
    from{
      opacity: 0;
      margin-top: 0rem;
    }
    to{
      opacity: 1;
      margin-top: 5rem;
    }
  }

  @keyframes slide{
    from {
      width: 0;
    }
    to {
      width: 8rem;
    }
  }
  
  @keyframes rotate{
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(1800deg);
    }
  }

  /*@keyframes rotate2{
    from{
      transform: rotate(0);
    }
    to{
    transform: rotate(360deg);
    }
}*/

@keyframes backgroundtwo{
  0%{
    opacity:0;
  }
  25%{
    opacity:0.25;
  }
  50%{
    opacity: 0.50;
  }
  75%{
    opacity: 0.75;
  }
  100%{
    opacity:1;
  }
}

/*animation en plus*/
 @-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
