
%btn-primary{
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
}

%btn-secondary{
    border: 1px solid $color-quatenary;
    border-radius: 23px;
    padding-bottom: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 22px;
}

%btn-bulle{
    border: 1px solid $color-primary;
    width: 30px;
    height: 25px;
    border-radius: 20px;
    position: relative;
    right: 30px;
    top: 28px;
    font-size: 16px;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 5px;
}

