.header-container{
    width: 100%;
    height: 4rem;
}

.container{
    width: 100%;
    height: 25rem;
    text-align: center;
}

.container-articles{
    height: 110rem;
    width: 100%;
}

.page-container{
    background-color: $color-quatenary;
    width: 100%;
    height: 130rem;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.footer-main{
    width: 100%;
    height: 14rem;
}