.header-container{
    width: 100%;
    height: 4rem;
}

.container{
    width: 100%;
    height: 25rem;
    text-align: center;
}

.page-card{
    border: 0.19rem white solid;
    border-radius: 1.25rem;
    background-color: white;
    height: 100px;
    width: 90%;
    margin-bottom: -4rem;
    margin-left: 14px;
    box-shadow: 0 0 1rem #0000002E;
    animation: card-appear 3s forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: both;
    &:hover{
        background-color: lighten($color: $color-tertiary, $amount: 24%);
        box-shadow: 2px 3px 10px darken($color: $color-quatenary, $amount: 50%);
    }
}

.footer-main{
    width: 100%;
    height: 14rem;
}