@media #{$tablet} {
    .main-header__image img{
            display: none;
    }

    .main-header .main-header__writting{
        display: initial;
        display: flex;
        justify-content: center;
        font-size: 7rem;
        background-color: darken($color: $color-quatenary, $amount: 75%);
        text-align: center;
        margin-top: -71px;
        margin-bottom: 0;
    }

    .oh{
        color: $color-primary;        
    }
    .my{
        color: $color-secondary;
    }
    .food{
        color: $color-tertiary;
    }

   .main-header form{
        height: 5rem;
        .main-header__p{
            display: flex;
            flex-direction: row;
        }
    }

    span.i-search{
        border: 1px solid $color-secondary;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        padding-left: 13px;
        padding-right: 25px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: $color-secondary; 
        font-size: 27px;
        i{
            position: relative;
            left: 8px;
        }
    }
        
    form p.main-header__p input{
        border: 1px solid $color-primary;
        border-right: none;
        border-left: none;
        padding-left: 29px;
        height: 50px;
        width: 13rem;
        font-size: 20px;
    }

    span.i-seek{
        border: 1px solid $color-tertiary;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        padding-left: 13px;
        padding-right: 25px;
        padding-top: 8px;
        padding-bottom: 8px;
        cursor: pointer;
        background-color: $color-tertiary; 
        font-size: 27px;
    }
    div.btn-seek span.i-seek i.fas{
        display: initial;
    }
    
    .container1{
        background-image: url(/sass/images/restaurants/luxe.jpg);
        .container1__title, .container1__p1 {
            text-shadow: 2px 2px lighten($color: $color-quatenary, $amount: 90%);
        }
    }

    .container2{
        height: 25rem;
        .container2__title{
        text-align: start;
        }
    }

    main .container-articles{
        height: 55rem;
        .divcontainer-articles{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
          .cardcommun{
             width: 40%;
            }
        }
    }

    article.cardcommun:hover{
        -webkit-transition: all 250ms ease-in;
        -webkit-transform: scale(1.1);
        -ms-transition: all 250ms ease-in;
        -ms-transform: scale(1.1);   
        -moz-transition: all 250ms ease-in;
        -moz-transform: scale(1.1);
        transition: all 250ms ease-in;
        transform: scale(1.1);
    }

    .page-header{
        display: flex;
        flex-direction: column;
        .page-arrow-image{
            margin-top: -102px;
        } 
        .page-header__writting{
            display: initial;
            font-size: 7rem;
            color: white;
            background-color: darken($color: $color-quatenary, $amount: 75%);
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .page-header__background-image img{
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        &:hover {
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
        }
    }

    main.page__container{
        height: 180rem;
        .page-btn{
            top: 65px;
        }
    }

    body.body-lanoteenchantee main.page__container2{
        height: 196rem;
    }

    .footer-title{
        padding-left: 0rem;
        padding-right: 5rem;
    }

    ul.footer-list li{
        margin-top: 0rem;
    }

    .footer-list li .far{
        display: initial;
    }

    article.page-card{ 
        height: 151px;
        margin-bottom: 4rem;
        .page-card__image{
            margin: 0;
        }
        .page-card__image img{
            position: absolute;
            display: initial;
            height: 150px;
            width: 15rem;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            object-fit: cover;
        }
        .page-carte__title{
            padding-left: 245px;
            padding-top: 32px;
        }
    
        .page-carte__p{
            padding-left: 245px;
        }
    
        .page-price{
            position: relative;
            top: 80px;
            padding-right: 25px;
        }

        mark.check-circle{
            height: 157px;
            position: relative;
            top: 16px;
        }

        @keyframes card-slide{
            from {
              width: 0;
            }
            to {
              width: 230px;
            }
          }
           
    }

    .footer-main{
            height: 8rem;
            text-align: center;
    }

    .footer-list{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }   
}

@media #{$tablet-up} {
    .container2{
        height: 15rem;
        h2.container2__title{
            padding-right: 0rem;
            padding-left: 2rem;
            text-align: center;
        }
    }

    .divcontainer2{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .container2__menu-commun1{
        font-size: 16px;
        width: 20rem;
    }

    .container-articles__title{
        text-align: center;
        padding-right: 2rem;
    }

    .divcontainer-articles{
        .cardcommun{
             width: 35%;
        }
    }
}


@media #{$laptop}{
    div.btn-seek span.i-seek{
        display: none;
    }

    div.btn-seek span.seek{
        display: initial;
        border: 1px solid $color-tertiary;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        padding-left: 13px;
        padding-right: 25px;
        padding-top: 12px;
        padding-bottom: 11px;
        cursor: pointer;
        background-color: $color-tertiary; 
        font-size: 23px;
    }

    figure.page-header__background-image img{
        height: 40rem;
    }

    main.page__container{
        height: 131rem;
        bottom: -10rem;
    }
    
    body.body-lanoteenchantee main.page__container2{
        height: 158rem;
    }

    footer.footer-page{
        margin-top: 10rem;
    }

    body.body-lanoteenchantee footer.footer-page2{
        margin-top: -6rem;
    }

    .page-container-articles{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; 
        .page-card{
            height: 18rem;
            width: 30%;
        }
        .page-card a .page-card__image img{
            position: initial;
            width: 100%;
            height: 170px;
            border-top-right-radius: 1rem;
            border-bottom-left-radius: initial;
        }
        .page-card .page-carte__title{
            margin-left: -235px;
            font-size: 19px;
            bottom: 0px;
        }

        .page-card .page-carte__p{
            margin-left: -235px;
            font-size: 16px;
            bottom: 10px;
        }

        .page-card .page-price{
            float: left;
            font-size: 18px;
            bottom: 0px;
            left: 0px;
            top: 70px
        }
    } 
    div.intra2 mark.check-circle{
        height: 120px;
        border-top-right-radius: initial;
    }
    @keyframes card-slide{
        from {
          width: 0;
        }
        to {
          width: 170px;
        }
      }
}