@media #{$tablet} {
    .main-header__image{
        background-image: linear-gradient(to right, $color-primary, $color-secondary, $color-tertiary);
        height: 8rem;
        img{
            width: 30rem;
        }
    }
    .container1{
        background-image: url(/sass/images/restaurants/luxe.jpg);
        .container1__title{
            text-shadow: 2px 2px lighten($color: $color-quatenary, $amount: 5%);
        }
        .container1__p1{
            text-shadow: 1px 1px lighten($color: $color-quatenary, $amount: 5%);
        }
    }

    .container2{
        height: 25rem;
    }

    .container2__title{
        text-align: start;
    }

    .container-articles{
        height: 55rem;
    }

    .divcontainer-articles{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
          .cardcommun{
             width: 40%;
        }
    }
    .page-arrow-image{
        margin-top: -2rem;
    }

    .page-header__background-image img{
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        &:hover {
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
        }
    }

    .page-container{
        height: 160rem;
    }

    article.page-card{ 
        height: 151px;
        margin-bottom: 4rem;
        .page-card__image{
            margin: 0;
        }
        .page-card__image img{
            display: initial;
            height: 150px;
            width: 15rem;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            object-fit: cover;
        }
        .page-carte__title{
            margin-left: 175px;
            position: relative;
            bottom: 140px;
            left: 75px;
        }
    
        .page-carte__p{
            margin-left: 175px;
            bottom: 125px;
            left: 75px;
        }
    
        .page-price{
            right: 10px;
            bottom: 170px;
        }
    }
        main.page__container2{
            height: 175rem;
    }

    .footer-list{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }   

}

@media #{$tablet-up} {
    .container2{
        height: 15rem;
    }

    .divcontainer2{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .container2__menu-commun1{
        font-size: 20px;
        width: 20rem;
    }

    main.page__container2{
            height: 130rem;
        }
}

@media #{$tablet-up}{
    .page__container{
        height: 110rem;
    }
    .page-container-articles{
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        .page-card{
            height: 18rem;
            width: 30%;
        }
        .page-card a .page-card__image img{
            width: 100%;
            height: 170px;
            border-top-right-radius: 1rem;
            border-bottom-left-radius: initial;
        }
        .page-card .page-carte__title{
            margin-left: -75px;
            font-size: 19px;
            bottom: 0px;
        }

        .page-card .page-carte__p{
            margin-left: -75px;
            font-size: 15px;
            bottom: 10px;
        }

        .page-card .page-price{
            float: left;
            font-size: 18px;
            bottom: 0px;
            left: 15px;
        }
    }   
}