h1, h3, img, .oh, .my, .food, .container1__title, .container2__title, .container-articles__title{
    font-family: shrikhand;
}

*{
    font-family: roboto, sans-serif;
}

.main-header__p input, .btn__p2, .btn__menu-commun1{
    font-weight: bolder;
}