$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;
$color-quatenary  : #eaeaea;
$color-quinquenary : #2c836e;
$color-heart:linear-gradient($color-primary, $color-secondary);

$tablet: "only screen and (min-width: 768px)";
$tablet-up: "only screen and (min-width: 980px)";
$laptop: "only screen and (min-width: 1100px)";