.page-header a{  
    @extend %btn-bulle;
    position: relative;
    top: 3rem;
    left: 1rem;
    font-size: 20px;
    color: black; 
    text-decoration: none; 
    border-color: white;
    background-color: white; 
    &:hover{
        color: white;
        background-color: black;
        -webkit-transition: all 250ms ease-in;
        -webkit-transform: scale(1.5);
        -ms-transition: all 250ms ease-in;
        -ms-transform: scale(1.5);   
        -moz-transition: all 250ms ease-in;
        -moz-transform: scale(1.5);
        transition: all 250ms ease-in;
        transform: scale(1.5);
    }
}

.page-arrow-image{
    @extend .main-header__image;
}

.page-header__writting{
    display: none;
}

.page-header__background-image{
    width: 100%;
    height: 25rem;
    margin: 0;
    img{
        height: 25rem;
        width: 100%;
        object-fit: cover;
    }
}

main.page__container{
    background-color: $color-quatenary;
    width: 100%;
    height: 100rem;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;;
    position: relative;
    bottom: 6rem;
    .page__container__flex{
        display: flex;
        flex-direction: row-reverse;
    }
    .page__container__title{
        font-size: 28px;
        position: relative;
        top: 35px;
        right: 25px;
        text-align: center;
    }
    .page-card__title{
        margin-top: 7rem;
        padding-left: 25px;
        bottom: -4rem;
        text-decoration: none; 
        position: relative; 
        top: 60px;
    }
    .page-card__title:after {
        position: absolute;
        content: " ";
        height: 4px;
        bottom: -4px;
        left: 26px;
        right: 19rem;
        width: 59px;
        background: $color-tertiary; 
        transition:.5s;
        -webkit-transition:.5s;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
     }

     .fa-stack {
         margin-top: -25px;
         width: 30px;
     }

     .page-carte__title{
        font-size: 21px;
    }  
}

.page__bloc1{
    margin-top: -6rem;
    .page-card__title:hover:after {
        width: 102px;
        left: 24px;
        right: 18rem;
        background: linear-gradient( to right, $color-tertiary, $color-tertiary, $color-secondary);
    }
}

.page__bloc2{
    margin-top: -8rem;
    .page-card__title:hover:after {
        width: 72px;
        left: 24px;
        right: 18rem;
        background: linear-gradient( to right, $color-tertiary, $color-tertiary, $color-secondary);
    }
}

.page__bloc3{
    margin-top: -8rem;
    .page-card__title:hover:after {
        width: 115px;
        left: 24px;
        right: 18rem;
        background: linear-gradient( to right, $color-tertiary, $color-tertiary, $color-secondary);
    }
}

main.page__container2{
    @extend .page__container;
    height: 107rem;
}

.page-card{
    a{
        text-decoration: none;
        color: black;
    }
    img{
        display: none;
    }

    .container-intra1et2{
        display: flex;
        justify-content: space-between;
        .intra{
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
        }
        .intra2{
            display: flex;
            justify-content: space-between;
        }
    }

    .page-carte__title{
        margin-left: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0;
    }

    .page-carte__p{
        font-size: 17px;
        margin-left: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .page-price{
        font-size: 18px;
        position: relative;
        top: 3rem;
        padding-right: 13px;
    }
}

.page-card1{
    @extend .page-card;
    animation-delay: .2s;
}

.page-card2{
    @extend .page-card;
    animation-delay: .6s;
}

.page-card3{
    @extend .page-card;
    animation-delay: 1.2s;
}

.page-card4{
    @extend .page-card;
    animation-delay: 1.6s;
}

.page-card5{
    @extend .page-card;
    animation-delay: 2.2s;
}

.page-card6{
    @extend .page-card;
    animation-delay: 2.6s;
}

.page-card7{
    @extend .page-card;
    animation-delay: 3.2s;
}

.page-card8{
    @extend .page-card;
    animation-delay: 3.6s;
}

.page-card9{
    @extend .page-card;
    animation-delay: 4.2s;
}

.page-card10{
    @extend .page-card;
    animation-delay: 4.6s;
}

mark.check-circle{
    display: flex;
    background-color: $color-tertiary;
    width: 0;
    height: 106px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 0 1.25rem 1.25rem 0;
    color: black; 
    float: right;
    margin-top: -19px;
    margin-right: -3px;
 }

mark.check-circle i{
    border-radius: 50%;
    padding: .5rem;
    color: white;
    font-size: 35px;
}

article.page-card:hover mark.check-circle{
    animation: card-slide .5s ease-in forwards;
}

article.page-card:hover mark.check-circle i{
    animation: card-rotate .5s both;
}

.fa-check:before {
    content: "\f00c";
}

.page-btn{
    text-align: center;
    position: relative;
    top: 45px;
    top: 115px;
    &:hover{
        -webkit-transition: all 250ms ease-in;
        -webkit-transform: scale(0.9);
        -ms-transition: all 250ms ease-in;
        -ms-transform: scale(0.9);   
        -moz-transition: all 250ms ease-in;
        -moz-transform: scale(0.9);
        transition: all 250ms ease-in;
        transform: scale(0.9);
    }
    .page-btn__a{
        @extend .btn-colorer;
        font-weight: bolder;
        padding-left: 60px;
        padding-right: 60px;
        &:hover{
            box-shadow: 0 0 1rem darken($color: $color-tertiary, $amount: 50%);
        }
    }
}

.footer-page{
    @extend.footer-main;
    margin-top: -6rem;
}

.footer-page2{
    @extend.footer-page;
}

body.body-lanoteenchantee, body.body-commun{
    min-width: 375px;
    margin: 0;
    padding: 0;
}