.container1{
    @extend .container;
    background-color: lighten($color: $color-quatenary, $amount: 4%);
    margin-top: -25px;
}

.container1__title{
    font-size: 30px;
    padding-top: 3rem;
}

.container1__p1{
    font-size: 25px;
}

.container1__p2{
    font-size: 20px;
    margin-top: 5rem;
}

.btn-colorer{
    @extend %btn-primary;
    text-decoration: none;
    color: white;
    border: 1px solid $color-primary;
    border-left-color: $color-secondary;
    border-top-color: $color-secondary;
    border-radius: 50px;
    background-image: linear-gradient(to top, $color-primary, $color-secondary);   
}

.btn__p2{
    @extend .btn-colorer;
}
.container1__p2:hover{
    -webkit-transition: all 250ms ease-in;
    -webkit-transform: scale(0.9);
    -ms-transition: all 250ms ease-in;
    -ms-transform: scale(0.9);   
    -moz-transition: all 250ms ease-in;
    -moz-transform: scale(0.9);
    transition: all 250ms ease-in;
    transform: scale(0.9);
}

aside p.container1__p2 a.btn__p2:hover{
    box-shadow: 0 0 1rem darken($color: $color-tertiary, $amount: 50%)
}
