.footer-main{
    background-color: darken($color: $color-quatenary, $amount: 75%);
    .footer-title{
        color: lighten($color: $color-primary, $amount: 70%);
        padding-left: 2rem;
        padding-top: 1rem;
        font-size: 25px;
        margin-top: 0;
    }
}

.footer-list{
    list-style-type: none;
    font-size: 16px;
    li{
        margin-top: 1rem;
    }
    i{
        color: lighten($color: $color-primary, $amount: 70%);
        margin-right: 1rem;
    }
    a {
        text-decoration: none;
        color: lighten($color: $color-primary, $amount: 70%);
        text-decoration: none;
        background: linear-gradient(to top, $color-secondary 0%, $color-secondary 10%, transparent 10.01%) no-repeat /*background-size*/ left bottom / 0 100%;
        transition: background-size .5s;
    }

    a:hover {
    background-size: 100% 100%;
    }

    .far{
        display: none;
    }
}