body{
        min-width: 375px;
    }

main, .page__container{
        max-width: 1345px;
        margin: auto;
}

header, footer{
        max-width: 2500px;
        margin: auto;
}

.main-header{
    display: flex;
    flex-direction: column;
}

.main-header__writting{
        display: none;
}

.main-header__image{
        @extend .header-container;
        display: flex;
        justify-content: center;
        align-items: center;
}

.main-header form{
        @extend .header-container;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-quatenary;
}

.main-header__p input{
        background-color: $color-quatenary;
        border-style: none;
        height: 3rem;
        width: 16rem;
        font-size: 20px;
        text-align: center;
}

.main-header__p input:focus{
        outline: none;
        width: 16rem;
        font-size: 20px;
        border: 1px dashed $color-primary;
        border-color: $color-primary;
        background: linear-gradient(90deg, $color-primary 50%, transparent 50%), 
                    linear-gradient(90deg, $color-primary 50%, transparent 50%), 
                    linear-gradient(0deg, $color-secondary 50%, transparent 50%), 
                    linear-gradient(0deg, $color-tertiary 50%, transparent 50%);
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
        background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
        border-radius: 5px;
        padding: 10px;
        animation: dashed-turn 5s linear infinite;
}

.seek{
        display: none ;
    }  
span.i-seek i.fas{
        display: none;
    }