body{
        min-width: 375px;
    }

main, .page__container{
        max-width: 1345px;
        margin: auto;
}

header, footer{
        max-width: 2500px;
        margin: auto;
}

.main-header{
    display: flex;
    flex-direction: column;
}

.main-header__writting{
        display: none;
}

.main-header__image{
        @extend .header-container;
        display: flex;
        justify-content: center;
        align-items: center;
}

.main-header form{
        @extend .header-container;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-quatenary;
}

.main-header__p input{
        background-color: $color-quatenary;
        border-style: none;
        padding-left: 15px;
        height: 3rem;
        width: 11rem;
        font-size: 20px;
}

.main-header__p input:focus{
        outline: none;
        border: 1px dashed $color-secondary;
        border-right-color: $color-primary;
        border-left-color: $color-secondary;
        border-bottom-color: $color-primary;
        border-radius: 25px;
}

.loader{
        position: absolute;
        width: 220px;
        height: 160px;
        margin: 0 auto;
        /*border: 4px solid transparent;
        border-top: 4px solid $color-tertiary;
        border-bottom: 4px solid $color-secondary;
        border-right: 4px solid $color-primary;
        border-left: 4px solid $color-primary;*/
        border-radius: 50%;
        animation: rotate2 0.90s infinite linear;
        .div-loader{
                display: flex;
                flex-direction: column;
        }
        .oh, .my, .food{
                font-size: 25px;
                margin-left: 6rem;
        }
    }