.container-articles{
    @include container-articles;
    background-color: lighten($color: $color-quatenary, $amount: 5%);
    /*padding-left: 2rem;*/
    .container-articles__title{
        padding-top: 3rem;
        font-size: 30px;
    }
}

.cardcommun{
    width: 90%;
    height: 19rem;
    border: 1px solid $color-quatenary;
    border-radius: 1rem;
    background-color: lighten($color: $color-quatenary, $amount: 90%);
    margin: auto;
    margin-bottom: 2rem;
    &:hover{
        background-color: lighten($color: $color-tertiary, $amount: 24%);
        box-shadow: 2px 3px 10px darken($color: $color-quatenary, $amount: 50%);
        -webkit-transition: all 250ms ease-in;
        -webkit-transform: scale(0.9);
        -ms-transition: all 250ms ease-in;
        -ms-transform: scale(0.9);   
        -moz-transition: all 250ms ease-in;
        -moz-transform: scale(0.9);
        transition: all 250ms ease-in;
        transform: scale(0.9);
    }
    a{
        text-decoration-line: none;
        color: black;
    }
    .back-image{
        margin: 0;
    }
    .back-image img{
        height: 13rem;
        width: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        object-fit: cover;
    }

    .cardcommun__title{
        padding-left: 1rem;
        font-size: 20px;
        margin-bottom: -1rem;
    }

    .cardcommun__p{
        padding-left: 1rem;
        font-size: 20px;
        padding-bottom: 3rem;
    }

    .cardcommun__new{
        @include btn-new;
        float: right;
        position: relative;
        bottom: 11rem;
        right: 1rem;
        font-weight: bolder;
        -webkit-animation: new-turn-signal .6s both;
        animation: new-turn-signal .6s both;
        animation-duration: 3s;
        animation-iteration-count: 2;
    }  
}

.heart{ 
    position:absolute;
    box-sizing: border-box;
    width: 55px;
    height:55px;
    padding-top: 4px;
    margin-left: 16px;
   & .fa-heart{
        position:absolute;
        font-size: 35px;  
        color: black;
        }
  & .fa-gradient{
    width:55px;
    height:75px;
  }
  & .fa-gradient:hover{
            cursor:pointer; 
            font-weight:bold;
            -moz-animation: heart-full .5s;
            -webkit-animation: heart-full .5s;
            animation: heart-full .5s;
            background:$color-heart;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
  }
}

.cardcommun__flex1{
    display: flex;
    flex-direction: column;
}

.cardcommun__flex2{
    display: flex;
    flex-direction: column;
}

.cardcommun__flex3{
    display: flex;
    flex-direction: row-reverse;
    /*justify-content: space-between;*/
    margin-top: -8rem;
}